body{
	background-color: #6699cc;
	font-family: Impact, sans-serif;
}

h1{
	color:white;
	text-align: center;
}

#boiteconnexion{
	background-color: #c6d9ec;
 	width: 300px;
 	border: 12px solid #2d5986;
	border-bottom: 3px dotted #2d5986;
 	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#boiteinscription{
	background-color: #c6d9ec;
 	width: 300px;
 	border: 12px solid #2d5986;
	border-top: none;
 	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#boiteinscription2{
	background-color: #c6d9ec;
 	width: 300px;
 	border: 12px solid #2d5986;
 	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#ChampsObligatoires{
	color: #aa0000;
	font-size : 60%;
}

#centrer{
	text-align: center;
}

input.connexion {
	width: 110px;
	height: 30px;
	background-color: #00cc00;
}

input.inscription {
	width: 100px;
	height: 30px;
	background-color: #0099ff;
}

#erreur {
	font-size:70%;
	color: red;
}
