body{
	background-color: #6699cc;
	font-family: Impact, sans-serif;
}

h1{
	color:white;
	text-align: center;
}

#boiteconnexion{
	background-color: #c6d9ec;
 	width: 300px;
 	border: 12px solid #2d5986;
	border-bottom: 3px dotted #2d5986;
 	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#boiteinscription{
	background-color: #ffff80;
 	width: 300px;
 	border: 12px solid #ff8533;
	border-top: none;
 	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#boiteinvitation{
	background-color: #ffe680;
 	width: 30%;
 	border: 16px solid #ffcc66;
 	padding: 20px;
	float: left;
	text-align: center;
}

#boiteinscription2{
	background-color: #c6d9ec;
 	width: 300px;
 	border: 12px solid #2d5986;
 	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#ChampsObligatoires{
	color: #aa0000;
	font-size : 60%;
}

#centrer{
	text-align: center;
}

#boutons_accueil
{
	display: inline;
}

#bouton_jouer
{
	width: 500px;	
	height: 400px;
	margin-left: 7%;
}

#bouton_stats
{
	
	width: 400px;	
	height: 400px;
	margin-top: 50px;
	margin-left: 7%;
}

#tab_contacts
{
	float: right;	
	width: auto;
	margin-top: 50px;
	margin-right: 7%;
}

#th_contact
{
	padding-bottom: 5px;
	text-align: left;
	color: #002966;
	font-size: 20px;
	border-bottom: 2px solid #002966;
}

#marge_avant_contacts
{
	height: 20px;
}

#Pseudo_contact
{
  
	padding: 10px;
	padding-left: 20px;
	width: 200px;
	background-color: #003d99;
	font-weight: bold;
	color: white;
}

#contact-online
{
	background-color: #008000;
	width: 37px;
}

#contact-offline
{
	background-color: #990000;
	width: 37px;
}

#contact_last_game
{
	padding-bottom: 20px;
}

input.connexion {
	width: 90px;
	height: 20px;
	background-color: #00b300;
	width: 110px;
	height: 30px;
	background-color: #00cc00;
}

input.inscription {
	width: 100px;
	height: 20px;
	background-color: #0099ff;
}

#erreur {
	font-size:70%;
	color: red;
}
